{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}EventBFF{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}

<p>Do you need any of these things? Maybe people at {{event.name}} can help!
  </p>

<ul>
{% for item in items %}

    <li>
    <a href="/event/{{event.slug}}/ask/{{item.id}}">{{item.name}}</a> <img src="{{item.icon.url}}"/>
    </li>

{% endfor %}
</ul>

{% endblock %}
