{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}EventBFF{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}

<p>Success! Your request for {{req.item.name}} has been placed as of {{req.start_time}}. It will expire in 15 minutes.
  </p>

<p><a href="#">Cancel request</a></p>
<p><a href="/event/{{event.slug}}">Back</a></p>


{% endblock %}
