{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}EventBFF{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}

{{ event }}

<div class="give">
<a href="/event/{{event.slug}}/give">GIVE</a>
</div>

<hr/>

<div class="ask">
<a href="/event/{{event.slug}}/ask">ASK</a>
</div>


<div class="sos">
<a href="/event/{{event.slug}}/sos">SOS</a>
</div>


{% endblock %}

