{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}EventBFF{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}

<p>
People at {{event.name}} have asked for these things! Can you help??
</p>

<ul>
  {% for r in requests %}
  <li>
    <a href="/event/{{event.slug}}/give/{{r.id}}">{{ r.item.name }}</a> asked for at {{ r.start_time }}
  </li>
  {% endfor %}
  </ul>


{% endblock %}
