{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}EventBFF{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}

<p>Success! Your offer for {{req.item.name}} has been placed. We will tell {{req.requester.username}} and let you know soon if they accept your offer. Thanks for helping!
  
  </p>

<p><a href="#">Cancel offer</a></p>
<p><a href="/event/{{event.slug}}">Back</a></p>


{% endblock %}
