{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}EventBFF{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <h1 class="title text-center">{% blocktrans %}<span class="glyphicon glyphicon-star"> </span>EventBFF
            {% endblocktrans %}</h1>
            <p class="text-center">
                {% blocktrans %}
                Bring community back to events
                {% endblocktrans %}
            </p>
            {% if not user.is_authenticated %}
            {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}
            <p>{% blocktrans %}Register as a user or an event <a href="{{ signup_url }}"class="btn btn-primary"> Register </a> <br> If you already have an account you can <a href="{{ login_url }}" class="btn btn-success"> Log In </a> {% endblocktrans %}</p>
            {% endif %}
        </div>
    </section>
    <section>
        <div class="container">
            <h3 class="text-center">{% blocktrans %}What is EventBFF?{% endblocktrans %}</h3>

        <p class="lead text-center">
            {% blocktrans %}
            Help and get help from people near-by.
            {% endblocktrans %}
        </p>
            <h3 class="text-center">{% blocktrans %}
                <div class="btn-group">
                <a class="btn btn-primary" href="#event_goer" >Event-goer</a>
                <a class="btn btn-primary" href="#event_organiser">Event-organiser</a>
            </div> </h3>
            <center><a href="event"><b>Go to the current events</b></a><br/>
            [login with: demo/demo]</center>
         {% endblocktrans %}
        </div>
    </section>
    <section id="event_goer">
        <h4 class="text-center user_title">{% blocktrans %}Event-goers{% endblocktrans %}</h4>   
        <div class="feature-columns">
            <div>
                <i class="fa fa-comment-o fa-3x" aria-hidden="true"></i><br>
                {% blocktrans %}
                <b>Ask:</b> Forgot something? Someone around you might have it, request it. Your specific location and contact details are only shared once the exchange is approved.
                {% endblocktrans %}
            </div>
            <div>
                <i class="fa fa-heart-o fa-3x" aria-hidden="true"></i><br>
                {% blocktrans %}
                <b>Give:</b> You've got spare? Share! Reply to a request and help a fellow event-goer. Keep the helping spirit alive.
                {% endblocktrans %}
            </div>
            <div>
                <i class="fa fa-hand-peace-o fa-3x"></i><br>
                {% blocktrans %}
                <b>Have fun:</b> Get rewards for being a star helper, meet other people, have a positive impact in your community. No need to download a new app for every festival - your details work with any eBFF-connected event.
                {% endblocktrans %}
            </div>
        </div>
    </section>
    <section id="event_organiser">
        <h4 class="text-center user_title">{% blocktrans %}Event-organiser{% endblocktrans %}</h4>   
        <div class="feature-columns">
            <div>
                <i class="fa fa-sort-amount-asc fa-3x"></i><br>
                {% blocktrans %}
                <b>Get data:</b> Live information on what event-goers are asking for. Data and statistics at the end of the event to improve future events.
                {% endblocktrans %}
            </div>
            <div>
                <i class="fa fa-diamond fa-3x"></i><br>
                {% blocktrans %}
                <b>Respond:</b> Receive direct communication and location information from event-goers in trouble.
                {% endblocktrans %}
            </div>
            <div>
                <i class="fa fa-gift fa-3x"></i><br>
                {% blocktrans %}
                <b>Reward:</b> Incentivise event-goers to help each other by giving rewards to star helpers. Happy people, better experience, safer events. 
                {% endblocktrans %}
            </div>
        </div>
        </div>
    </section>  
{% endblock %}
