{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}EventBFF{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<div>
  
<p>
  Your upcoming events:
</p>
<ul>
{% for event in events %}

    <li class="event">
      <a href="{{event.slug}}">{{ event }}</a>
    </li>

{% endfor %}
</il>

</div>
{% endblock %}

